body{
		background-image: url('nycover.jpg');
		background-repeat: no-repeat;
		background-size: cover;
	}
h1{
	font-family: Lucida Calligraphy;
	align-items: center;
}
h2{
	font-family: Lucida Calligraphy;	
}
h3{
	font-family: Lucida Calligraphy;
}